@use './vars';

.MyOrders {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.MyOrders .MyOrders-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 16px;
    width: 300px;
}

.MyOrders .MyOrders-container .title {
    font-size: var(--lg);
    margin-bottom: 40px;
}

.MyOrders .MyOrders-content {
    display: flex;
    flex-direction: column;
}
